@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: $page-background;
  display: flex;
  justify-content: center;
  font-weight: 200;
  line-height: 1.5;
}

ul {
  padding: 0;
}

hr.divider {
  margin: 0;
  padding: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #DDD;
}

.text-center{
  text-align: center;
}

h1.app-title {
  color: white;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid $page-background;
  outline: none;
  font-size: 16px;

  &:focus {
    border-bottom-width: 2px;
  }
}

::-webkit-input-placeholder{
  color: #ddd;
  font-weight: 300;
  font-size: 14px;
}